.login {
  display: grid;
  min-height: 100vh;

  &__layout {
    margin: auto;
    padding: 1rem 2rem;
    width: 100%;
    #breakpoints.sm({
      max-width: 40rem;
    });
    #breakpoints.lg({
      max-width: 36rem;
    });
  }

  &__header {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 3rem 1fr;
    margin-bottom: 2rem;

    &__image {
      grid-row: ~'1/ span 2';
    }

    &__title {
      margin: 0 !important;
    }

    &__subtitle {
    }
  }

  &__grid {
    &--two {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      grid-gap: 0.5rem;
    }
  }
}
