.grid {
  &__two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 0.5rem;
  }

  // responsive grid
  &__responsive {
    display: grid;
    grid-gap: 2rem;

    #breakpoints.sm({
      grid-template-columns: repeat(auto-fit, minmax(calc( 50% - 2rem ) , 1fr));
    });

    #breakpoints.md({
      grid-template-columns: repeat(auto-fit, minmax(calc( 33% - 2rem ) , 1fr));
    });
    #breakpoints.lg({
      grid-template-columns: repeat(auto-fit, minmax(calc( 25% - 2rem ) , 1fr));
    });

    #breakpoints.xl({
      grid-template-columns: repeat(auto-fit, minmax(calc( 25% - 2rem ) , 1fr));
    });

    #breakpoints.xxl({
      grid-template-columns: repeat(auto-fit, minmax(calc( 20% - 2rem ) , 1fr));
    });
  }
}
