.header {
  &__auth {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: minmax(35px, 3rem) 1fr;
    margin-bottom: 2rem;
    align-items: center;

    &__image {
      grid-row: ~'1/ span 2';
    }

    &__title {
      margin: 0 !important;
    }

    &__subtitle {
    }
  }
}
