// overwite antd variables

// @primary-color: #F2AB1f; // primary color for all components
// @link-color: #1890ff; // link color
// @success-color: #52c41a; // success state color
// @warning-color: #faad14; // warning state color
// @error-color: #f5222d; // error state color
// @font-size-base: 14px; // major text font size
// @heading-color: rgba(0, 0, 0, 0.85); // heading text color
// @text-color: rgba(0, 0, 0, 0.65); // major text color
// @text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
// @disabled-color: rgba(0, 0, 0, 0.25); // disable state color
// @border-radius-base: 2px; // major border radius
// @border-color-base: #929292; // major border color
// @box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
//   0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers


@primary-color: #f2ab1f; // primary color for all components
@heading-color: #d5d5d5; // heading text color -- h1 ... h6
@text-color: #d5d5d5; // major text color
@text-color-secondary: #929292; // secondary text color
@border-color-base: fade(#929292, 25%); // #33333a; major border color
// // Background color for `<body>`
@body-background: #000014;
// // Base background color for most components
@component-background: #262626;

// // Disabled states
@disabled-color: @text-color-secondary;
@disabled-bg: @text-color;

// // Image
@image-bg: #343434;

// LINK
@link-color: @text-color;
@link-hover-color: @primary-color;
@link-active-color: @primary-color;

// Button
@btn-default-color: @text-color;
@btn-default-bg: transparent;
@btn-default-border: @text-color;
@btn-primary-color: @black;
@btn-primary-bg: @primary-color;

// Input
@input-placeholder-color: @text-color-secondary;
@input-color: @text-color;
@input-number-hover-border-color: @input-hover-border-color;
@input-addon-bg: @text-color-secondary;
@input-icon-hover-color: @text-color;

// Card

// modal
// @modal-body-padding: 16px 24px;
@modal-padding-vertical: 24px; // custom variable
@modal-padding-horizontal: 24px; // custom variable
@modal-heading-color: @primary-color;
@modal-footer-border-width: 0;
@modal-header-border-width: 0;
@modal-footer-padding-vertical: @modal-padding-vertical;
@modal-footer-padding-horizontal: @modal-padding-horizontal;
@modal-header-padding-vertical: @modal-padding-vertical;
@modal-header-padding-horizontal: @modal-padding-horizontal;

// user defiend variables

// icon
@icon-color-hover: @primary-color;

// // Divider
@divider-color: @text-color;
