
// overwite antd variables

// @primary-color: #F2AB1f; // primary color for all components
// @link-color: #1890ff; // link color
// @success-color: #52c41a; // success state color
// @warning-color: #faad14; // warning state color
// @error-color: #f5222d; // error state color
// @font-size-base: 14px; // major text font size
// @heading-color: rgba(0, 0, 0, 0.85); // heading text color
// @text-color: rgba(0, 0, 0, 0.65); // major text color
// @text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
// @disabled-color: rgba(0, 0, 0, 0.25); // disable state color
// @border-radius-base: 2px; // major border radius
// @border-color-base: #d9d9d9; // major border color
// @box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
//   0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers


// @font-size-base: 14px;
// @font-size-lg: @font-size-base + 2px;
// @font-size-sm: 12px;

@primary-color: #F2AB1f; // primary color for all components
// // Background color for `<body>`
@body-background: #000014;
// // Base background color for most components
@component-background: #262626;

@heading-color: #929292; // heading text color
@text-color: #d5d5d5; // major text color
@text-color-secondary: #929292; // secondary text color


// LINK
@link-color: @text-color;
@link-hover-color: @primary-color;
@link-active-color: @primary-color;

// Button

@btn-default-color: @text-color;
@btn-default-bg: transparent;
@btn-default-border: @text-color;

@btn-primary-color: @black;
@btn-primary-bg: @primary-color;





// @btn-link-hover-bg: transparent;
// @btn-text-hover-bg: rgba(0, 0, 0, 0.018);

// text colors 
// @active-gray:#d5d5d5;
// @inactive-gray:#929292;
// @color-primary: #F2AB1f;
// @color-black: #000;

// // navigation-colors
// @nav-background: #1B3062;

// // top bar
// @topber-height: 55px;
// @toolbar-width: 55px;
// @footer-height: 32px;
// @padding-container: @topber-height + @footer-height;

