.ant-menu {
  &-item {
    &-selected {
      color: @primary-color !important;
      background-color: transparent !important;
    }
    &:active {
      color: @primary-color !important;
      background-color: transparent !important;
    }
  }
}
